{% extends 'template.html.twig' %}

{% block title %}Project{% endblock %}

{% block main %}
    <h1 class="row justify-content-center my-3 mx-0 indieFlower">Vos projets</h1>
    <div class="row justify-content-md-center p-0">
        {% for project in projects %}
            {% if project.getStatus() == 'in progress' %}
                <a class="col- col-sm-6 col-lg-3 justify-content-center" style="text-decoration:none" href="{{ path('project_show', {'id': project.id}) }}">
                    <div class="project card text-white bg-secondary mb-5 animate__animated animate__bounceInLeft" style="max-width: 20rem;">
                        <div class="card-header">{{ project.registered|date('Y-m-d') }}</div>
                        <div class="card-body">
                            <h4 class="card-title indieFlower">{{ project.title }}</h4>
                            <p class="card-text">{{ project.description }}</p>
                            <p class="card-title">Deadline : {{ project.deadline|date('Y-m-d') }}</p>
                            <p>{% set difference = date(project.deadline).diff(date(date)) %}
                                {% set leftDays = difference.days %}
                                    {% if leftDays == 1 %}
                                    1 day
                                    {% else %}
                                    {{ leftDays }} jours restants
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </a>
            {% endif %}            
        {% endfor %}
    </div>    
        
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}